RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([a-z0-9-._=+]+)/?$ index.php?p=$1 [NC]
RewriteRule ^([a-z0-9-]+)/stat=([a-z0-9-@.]+)'?/?$ index.php?p=$1&stat=$2 [NC]
RewriteRule ^([a-z0-9-]+)/query=([a-z0-9-@=.]+)'?/?$ index.php?p=$1&query=$2 [NC]

#reserva
RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/([a-z0-9-@=.]+)/([a-z0-9-@=.]+)'?/?$ index.php?p=$1&s=$2&id=$3&email=$4 [NC]

#listagem com filtro de nome
RewriteRule ^([a-z0-9-]+)/nome=([^/.]+)?/?'?/?$ index.php?p=$1&nome=$2 [NC]
RewriteRule ^([a-z0-9-]+)/grupo=([a-z0-9-@=.\s]+)?/?'?/?$ index.php?p=$1&grupo=$2 [NC]
RewriteRule ^([a-z0-9-]+)/email=([a-z0-9-@=.\s]+)?/?'?/?$ index.php?p=$1&email=$2 [NC]
RewriteRule ^([a-z0-9-]+)/carona=([a-z0-9-@=.\s]+)?/?'?/?$ index.php?p=$1&carona=$2 [NC]

#listagem de caronas
RewriteRule ^([a-z0-9-]+)/origem=([^/.]+)?/'?/?$ index.php?p=$1&origem=$2 [NC]
RewriteRule ^([a-z0-9-]+)/origem=([^/.]+)/destino=([^/.]+)?'?/?$ index.php?p=$1&origem=$2&destino=$3 [NC]
RewriteRule ^([a-z0-9-]+)/origem=([^/.]+)?/destino=([^/.]+)?/data=([a-z0-9-@=.]+)?'?/?$ index.php?p=$1&origem=$2&destino=$3&data=$4 [NC]

#passagem de email
RewriteRule ^([a-z0-9-]+)/email=([a-z0-9-@=.]+)'?/?$ index.php?p=$1&email=$2 [NC]

RewriteRule ^([a-z0-9-]+)/([a-z0-9-@.]+)/id=([a-z0-9-@.]+)'?/?$ index.php?p=$1&s=$2&id=$3 [NC]
RewriteRule ^([a-z0-9-]+)/([a-z0-9-@.]+)'?/?$ index.php?p=$1&s=$2 [NC]