/* Baseado no psd Joao:
   Fonte padrão: Roboto
   Fonte no logotipo: Arcon
   Cor de fundo: f5f8fa
   Cor de fundo central: eaebe8 */

/* Base */
* {margin: 0; padding: 0; border: none; outline: none;}
html {height: 101%;}
body {font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, sans-serif; color: #555; font-size: 12px; background: #F8F8F8; line-height: 19px;}
body a {color: #24A6CC; text-decoration: none;}
body a:hover {text-decoration: underline;}
body p {margin-bottom: 10px;}
.alert {padding: 10px; border-radius: 2px; margin-bottom: 20px; box-sizing: border-box;}
.adviseMsg {float: left; width: 100%; background: #cce6f9; border: 1px solid #8096aa;}
.query {font-family: "Courier New";}


/* Header */
header {background: url(../resources/bg-header.png); width: 100%; height: 228px;}
.wrapper {margin: 0 auto; width: 960px;}
#logo {float: left; margin-top: 50px;}
#logo img {display: block; margin-bottom: 10px;}
.navbar {background: #e6ecd3; position: relative; min-height: 20px; margin-bottom: 20px; border-bottom: 1px solid #0c6600;}
.navbar-fixed-top {position: fixed; right: 0;left: 0; z-index: 1030;}
.container {margin-right: 30	px; margin-left: 30px;}
.container ul {list-style: none; float:right;}
.container ul li {display: inline;}
.container ul li a{color: #4B4B4B; position: relative; padding: 10px 20px 10px}
.content {position: relative; float: left; width: 100%; margin-top: 20px; padding: 20px; background: #FFF; box-sizing: border-box; box-shadow: 0px 3px 3px #E5E5E5;}


/* Menu */
#menu-principal {background: url(../resources/bg-menu.png) repeat-x; height: 40px; border-bottom: 2px solid #93DB60;}
#menu ul {float:left; width: 100%; list-style: none;}
#menu ul li {border-right: 1px solid #93db60; display: inline; float: left; font-size: 14px;}
#menu ul li a {color: #4B4B4B; text-decoration: none; line-height: 18px; position: relative; float: left; padding: 13px 20px 10px; -webkit-transition: all 0.4s ease; border: none; text-shadow: 1px 1px 0 #FFF; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
#menu ul li a:hover {border-bottom: 1px solid #0c6600;}
#menu ul li:first-child {border-left: 1px solid #93db60;}
#menu ul li a.PrincipAtivo {border-bottom: 1px solid #0c6600; }
#menu ul li ul{ position:absolute; margin-top: 20px; width: 200px; height: 200px; background-color:#fff; display:none;}   
#menu li:hover ul, #menu li.over ul{display:block;}

/* Forumlário */
form.default-form {float: left; width: 100%;}
form.default-form div.form-line {float: left; width: 100%; margin-bottom: 20px;}
form.default-form div {float: left; padding-right: 10px; box-sizing: border-box;}
form.default-form .col1 {width: 10%;}
form.default-form .col2 {width: 20%;}
form.default-form .col3 {width: 30%;}
form.default-form .col4 {width: 40%;}
form.default-form .col5 {width: 50%;}
form.default-form .col6 {width: 60%;}
form.default-form .col7 {width: 70%;}
form.default-form .col8 {width: 80%;}
form.default-form .col9 {width: 90%;}
form.default-form .col10 {width: 100%;}
form.default-form textarea, input, form.default-form select {margin-right: 10px; box-sizing: border-box; width: 100%; background: #FFF; padding: 10px; border: 1px solid #CCC; box-shadow: none; border-radius: 10px; -webkit-transition: 0.3s ease all;}
form.default-form input:focus {box-shadow: 0 0 7px 1px #93DB60; border: 1px solid #93DB60;}
.btn {height:30px; background-color: #4CAF50; cursor: pointer; border-radius: 8px; border: none; color: white; padding: 5px 14px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px;}

/* Formulário 
form {display: block;}
form h2 {font-weight: normal; font-size: 160%; margin: 0 0 5px 0; clear: left; margin-top: 30px; padding: 0 1% 1.1em 1%; border-bottom: 1px dotted #0c6600;}
form ul {margin-top: 30px; margin-bottom:15px; padding: 0; list-style-type: none;}
form ul li {clear:both; padding: 6px 1% 9px 1%; margin: 0; background-color: transparent; position: relative; display: list-item;}
form ul li label {cursor: default;}
form ul li label.desc {font-size: 95%; font-weight: bold; color: #222; line-height: 150%; margin: 0; padding: 0 0 3px 0; border: none; display: block; white-space: normal; width: 100%;}
form ul li div {margin: 0; padding: 0; color: #444; display: block;}
form ul li div select{height: 16px;}
form ul li div input {text-rendering: auto; color: initial; letter-spacing: normal;  height:16px; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: start; margin: 0em 0em 0em 0em; font: 18px Arial;}
form ul li div input.text {font-family: "Lucida Grande", Tahoma, Arial, sans-serif;  font-size: 100%; color: #333; margin: 0; padding: 2px 0;}
form ul li div input.medium {width: 30%;}
form ul li div input.small {width: 10%;}
form ul li div input.bt{height:30px; background-color: #4CAF50; border-radius: 8px; border: none; color: white; padding: 5px 14px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px;}
form ul li span.symbol { font-size: 120%; line-height: 155%;}
form ul li span {margin: 0 .3em 0 0; padding: 0; float: left;color: #444;}
*/
/* Listagem */
.totalbusca {margin-bottom:50px;}
.totalbusca span {display: inline-block; float: left; max-width: 600px; margin: 0; padding: 8px 0 10px 0; font-size: 18px; font-weight: bold; line-height: 24px;}
.totalbusca h1 {display: inline-block; float: left; max-width: 600px; margin: 0; padding: 8px 0 10px 0; font-size: 18px; font-weight: bold; line-height: 24px;}

.search-results {padding: 0px; margin : 0; }
.search-results article {display:block; width:100%;border-top:1px solid #CCC; float:left; margin-bottom:20px; }
.search-results article .row{margin-left: 50px}
.row .user {width:190px; float:left; min-height:1px; margin-top: 20px; margin-left:20px; border-right: 1px solid #CCC;}
.user .photo {border-radius:50%; margin-top:1px; float: left;}
.photo img {max-width:100%; vertical-align: middle; border: 0;}
.user .info {float:left; width:95px; font-size:12px; line-height:20px; margin: 0 0 0 8px; color: #666;}
.info h2 {overflow: hidden; text-overflow: ellipsis; margin: 0; padding: 6px 0 2px; line-height: 1; font-weight: bold; font-size: 15px; color: #333;}
.user .trust {clear:both; font-size: 12px; padding-top:4px; margin-left:10px;}
.ratings {display: inline-block; padding: 2px 0; margin: 0;}
.ratings img {width:12px; height:12px;}

.row .description-box {margin-left: 10px; margin-top:18px; width:500px; float:left;}
.row .description-box h3 {}
.day-time {font-weight: bold; font-size: 19px;line-height: 27px;color: #333 !important;}
.description {font-size:12px; color: #888;}
.row .description-box .bagagem {font-size:10px; color: #888;}

.offer {float:right; margin-top:20px; margin-right:5px;}
.offer .price {color :#58B20D}
.offer .price strong {font-size: 34px; line-height: 30px; font-family: Arial,Helvetica,sans-serif; font-weight: bold;}
.offer .price .small {font-size:23px; font-family: Arial,Helvetica,sans-serif;line-height: 30px; font-weight: bold;}
.offer .price .perUnit {display: block; }
.offer .availability {margin-top: 5px; font-size: 11px;}
.offer .enter {margin-top: 5px;}
.offer .enter a {height:18px; background-color: #4CAF50; border-radius: 8px; border: none; color: white; padding: 5px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px;}

.dark {font-weight: bold !important; color: #666;}
.light {color: #888;}





/* Footer */
footer {position: relative; padding-top:5px; margin-top:5px;}
footer ul {float:right; list-style: none;}
footer ul li {display: inline; float: right; font-size: 8px; margin-right: 20px;}